@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The 7 Habits of Highly Effective People</h1>
    <p>Sean Covey is an author who wrote <i>The 7 Habits of Highly Effective People</i>. Within this book, 
    he introduces a Time-Management matrix. On this website, you can add tasks that you need to complete, 
    and you can view these tasks within the matrix. We hope you enjoy!</p>
</div>
